# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib

# Output of the go coverage tool, specifically when used with LiteIDE
*.out

# Go workspace file
go.work

# Go modules
vendor/
*.mod
*.sum

# IDE/editor specific files
.vscode/
.idea/
*.swp

# Logs
*.log

# Dependency directories
Godeps/

# Build directories
bin/
build/

# Environment variables file
.env